@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --brand: #008f3a;
  --brand-dark: #006d2c;
  --brand-light: #eaf8ef;

  --gold: #d97706;
  --gold-light: #fef3c7;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::selection {
  background: var(--brand-light);
  color: var(--brand-dark);
}